<div class="container about-page">
    <!-- Menu -->
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills pull-right">
                <li><a href="#/">Home</a></li>
                <li><a href="#/quiz">Play</a></li>
                <li><a href="#/leaderboard">Leaderboard</a></li>
            </ul>
        </div>
    </div>
    <div class="page-header">
        <h1>About</h1>
    </div>
    <p class="lead">
        Hi, my name is <strong>Alexandre Giraud</strong>. I am a software engineer by day and board gamer by night.
    </p>
    <p class="lead">
        I did this project so people like me can test and compare their knowledge about board gaming.
    </p>
    <p class="lead">
        If you have any feedback I would love to hear from you! Drop me an email at <a href="mailto:alexandre.giraud89@gmail.com">alexandre.giraud89@gmail.com</a> or message me on <a href="https://www.reddit.com/user/SuperCoquillette/" target="_blank">Reddit</a>.
    </p>
    <p class="lead">
        I would like to thanks <a href="https://boardgamegeek.com/" target="_blank">boardgamegeek.com</a> for their API and all the data they shared.
        <br />I also want to thanks <a href="https://www.reddit.com/user/spotted_owl_tits" target="_blank">/u/spotted_owl_tits</a> for his awesome picture of <a href="https://boardgamegeek.com/boardgame/136888/bruges" target="_blank">Bruges</a> displayed in the Home Page.
    </p>

    <h4 class="page-header">Where do all these board games come from?</h4>
    <p class="lead">
        All the data comes from <a href="https://boardgamegeek.com/" target="_blank">boardgamegeek.com</a>.
    </p>

    <h4 class="page-header">How many board games may I found here?</h4>
    <p class="lead">
        The quiz uses only the most owned games according to <a href="https://boardgamegeek.com/" target="_blank">boardgamegeek.com</a> (i. e. games owned by at least 2000 users).
        <br />There is around <strong>1000 games</strong> for this quiz.
    </p>

    <h4 class="page-header">How the score is calculated?</h4>
    <p class="lead">
        Each correct answer grants a specific amount of points.
        <br />The remaining seconds after a correct answer grant additional points.
        <br/>Multiple correct answers in a row grant additional points (up to 5 good answers).
    </p>

    <h4 class="page-header">I found a bug! What should I do?</h4>
    <p class="lead">
        Oups... Please report it at <a href="mailto:alexandre.giraud89@gmail.com">alexandre.giraud89@gmail.com</a>!
    </p>
</div>
