<div class="background-image">
    <div class="layer">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills pull-right">
                    <li><a href="#/quiz">Play</a></li>
                    <li><a href="#/leaderboard">Leaderboard</a></li>
                    <li><a href="#/about">About</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center main-title-container">
            <div class="top-main-title">Board Game</div>
            <div class="bottom-main-title">Quiz</div>
            <div>
                <a href="#/quiz" class="btn btn-primary btn-lg">Play</a>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="page-header">
        <h1>Lorem Ispum Dolor</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Lore Ispum</h3>
            <p>
                Pri accusamus voluptatibus cu. Quo habeo rebum ex, mei melius eripuit appetere in. Mea ne integre appareat. Erant dolor accommodare te eam.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Lore Ispum</h3>
            <p>
                Pri accusamus voluptatibus cu. Quo habeo rebum ex, mei melius eripuit appetere in. Mea ne integre appareat. Erant dolor accommodare te eam.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Lore Ispum</h3>
            <p>
                Pri accusamus voluptatibus cu. Quo habeo rebum ex, mei melius eripuit appetere in. Mea ne integre appareat. Erant dolor accommodare te eam.
            </p>
        </div>
    </div>
</div>
