<div class="container">
    <div class="page-header">
        <h1>Lorem Ipsum</h1>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="center-block counter-container">
                <span class="counter-number">{{ counter / 10 | number : 0 }}</span>
                <div round-progress max="150" current="counter" color="#2196f3" bgcolor="#dddddd" radius="50" stroke="10" semi="false" rounded="false" clockwise="true" responsive="true" duration="100" animation="linearEase"></div>

            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-6">
                    <h2>Dolor {{ quizNumber }}</h2>
                </div>
                <div class="col-md-6 text-right">
                    <h2><i class="fa fa-trophy"></i> {{ score }}</h2>
                </div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-striped" role="progressbar" aria-valuenow="{{ quizNumber }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ (quizNumber - 1) * 10 }}%">
                </div>
            </div>
        </div>
    </div>

    <div ng-show="error != null" class="alert alert-danger" role="alert">{{ error }}</div>

    <table class="table table-striped table-condensed">
        <tbody>
            <tr>
                <th style="width:20%">Year Published</th>
                <td style="width:30%">
                    {{ winningGame.year_published }}
                </td>

                <th style="width:20%"># of Players</th>
                <td style="width:30%">
                    {{ winningGame.min_players }} <span ng-show=" winningGame.min_players !==  winningGame.max_players">- {{ winningGame.max_players }}</span>
                </td>
            </tr>
            <tr>
                <th>Playing Time</th>
                <td>
                    {{ winningGame.playing_time }} minutes
                </td>

                <th>Suggested Ages</th>
                <td>
                    {{ winningGame.min_age }} and up
                </td>
            </tr>
            <tr class="large-row">
                <th>Avg. Game Weight</th>
                <td>
                    {{ winningGame.statistics.average_weight | number : 2 }}
                </td>

                <th>Category</th>
                <td>
                    <div ng-repeat="category in winningGame.categories | limitTo : 3">{{ category.value }}</div>
                </td>
            </tr>
            <tr class="large-row">
                <th>Mechanic</th>
                <td>
                    <div ng-repeat="mechanic in winningGame.mechanics | limitTo : 3">{{ mechanic.value }}</div>
                </td>

                <th>Designer</th>
                <td>
                    <div ng-repeat="designer in winningGame.designers | limitTo : 3">{{ designer.value }}</div>
                </td>
            </tr>
            <tr class="large-row">
                <th>Artist</th>
                <td>
                    <div ng-repeat="artist in winningGame.artists | limitTo : 3">{{ artist.value }}</div>
                </td>

                <th>Publisher</th>
                <td>
                    <div ng-repeat="publisher in winningGame.publishers | limitTo : 3">{{ publisher.value }}</div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-4 card-choice" ng-repeat="choice in choices">
            <div class="panel panel-default">
                <div class="panel-body" ng-class="(classOverlay[choice.id] !== null) ? 'hover' : ''" ng-click="selectGame(choice.id, choice.gameId)">
                    <div class="center-block well well-thumbnail">
<!--                        <img ng-src="{{ choice.thumbnail }}" alt="{{ choice.name }}" class="center-block" />-->
                    </div>
                    <button type="button" class="btn btn-primary center-block" style="white-space: normal;">
                        {{ choice.name }}
                    </button>
                    <div class="overlay" ng-class="classOverlay[choice.id]">
                        <span ng-show="classOverlay[choice.id] === 'overlay-correct'">
                            <p>CORRECT</p>
                        </span>
                        <span ng-show="classOverlay[choice.id] === 'overlay-wrong'">
                            <p>WRONG</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
