<script type="text/ng-template" id="resetModalContent.html">         
    <div class="modal-header">
        <h4 class="modal-title">Reset the game?</h4>
    </div>
    <div class="modal-body">
        <p>You will lose your current score and restart the quiz.</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-link" type="button" ng-click="reset()">Reset</button>
    </div>
</script>

<div class="container">      
    <!-- Menu -->
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills pull-right">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/leaderboard">Leaderboard</a></li>
                <li><a href="#/about">About</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="center-block counter-container">
                <span class="counter-number">{{ counter / 10 | number : 0 }}</span>
                <div round-progress
                     max="maxCounter"
                     current="counter"
                     color="#2196f3"
                     bgcolor="#dddddd"
                     radius="50"
                     stroke="10"
                     semi="false"
                     rounded="false"
                     clockwise="true"
                     responsive="true"
                     duration="100"
                     animation="linearEase">
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-6">
                    <h2>Game n°{{ quizNumber }} <a href="" ng-click="open()"><small><i class="fa fa-undo"></i></small></a></h2>
                </div>
                <div class="col-md-6 text-right">
                    <h2>
                        <small ng-show="comboCounter > 1">Combo x{{ comboCounter }}</small>
                        <i class="fa fa-trophy"></i> {{ score | number:0 }}
                    </h2>
                </div>
            </div>
            <div class="progress progress-striped">
                <div class="progress-bar progress-striped" 
                     role="progressbar"
                     aria-valuenow="{{ quizNumber }}"
                     aria-valuemin="0"
                     aria-valuemax="{{ gamesPerRound }}"
                     style="width: {{ (quizNumber - 1) * 100 / gamesPerRound }}%">
                </div>
            </div>
        </div>
    </div>

    <div ng-show="error != null" class="alert alert-danger" role="alert">{{ error }}</div>

    <table class="table table-striped table-condensed table-clues">
        <tbody>
            <tr>
                <th>{{ clues[0].label }}</th>
                <td>
                    <div ng-repeat="value in clues[0].values">{{ value }}</div>
                </td>
                <th>{{ clues[1].label }}</th>
                <td>
                    <div ng-repeat="value in clues[1].values">{{ value }}</div>
                </td>
            </tr>
            <tr>
                <th>{{ clues[2].label }}</th>
                <td>
                    <div ng-repeat="value in clues[2].values">{{ value }}</div>
                </td>
                <th>{{ clues[3].label }}</th>
                <td>
                    <div ng-repeat="value in clues[3].values">{{ value }}</div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-4" ng-class="(classOverlay[choice.id] !== null) ? 'card-choice-disabled' : 'card-choice'" ng-repeat="choice in choices">
            <div class="panel panel-default">
                <div class="panel-body" ng-class="(classOverlay[choice.id] !== null) ? 'hover' : ''" ng-click="selectGame(choice.id, choice.gameId)">
                    <div class="center-block well well-thumbnail">
                        <img ng-src="{{ choice.thumbnail }}" alt="{{ choice.name }}" class="center-block" />
                    </div>
                    <button type="button" class="btn btn-primary btn-flat center-block">
                        {{ choice.name }}
                    </button>
                    <div class="overlay" ng-class="classOverlay[choice.id]">
                        <span ng-show="classOverlay[choice.id] === 'overlay-correct'">
                            <p>CORRECT</p>
                        </span>
                        <span ng-show="classOverlay[choice.id] === 'overlay-wrong'">
                            <p>WRONG</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
