/* Home Page */

@font-face {
    font-family: funnyFont;
    src: url(../fonts/Questrian.otf) format('opentype');
}

.cover-container {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.layer {
    background-color: rgba(215, 215, 215, 0.6);
    height: 100vh;
}

.nav-home {
    padding-right: 15px;
}

.home-link,
.home-link:hover,
.home-link:active,
.home-link:focus {
    color: #666666;
    font-weight: bold;
}

.funny-font {
    font-family: funnyFont, "Arial Black", Gadget, Sans-serif;
    text-transform: uppercase;
}

.main-title-container {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}

.top-main-title {
    line-height: 0.8;
    font-size: 60px;
}

.bottom-main-title {
    line-height: 0.8;
    font-size: 190px;
}

@media only screen and (max-width: 480px) {
    .bottom-main-title {
        font-size: 95px;
    }
}

.container-btn-play {
    margin-top: 20px;
}

.btn-big {
    padding: 15px 30px;
    font-size: 17px;
    line-height: 1.3333333;
    border-radius: 3px;
}

.home-content {
    text-align: center;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.home-header {
    margin-top: 40px;
    margin-bottom: 40px;
}

.arrow-down {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.icon-features {
    width: 120px;
    height: 120px;
}

@media only screen and (min-width: 768px) {
    .container-btn-play-big {
        line-height: 181px;
        background: url(../img/arrows-bg.png) no-repeat bottom center;
    }
}

footer {
    padding-bottom: 20px;
    padding-right: 15px;
}


/* Quiz */

.counter-container {
    max-width: 250px;
}

.counter-container svg {
    padding: 5px;
}

.counter-number {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.progress {
    height: 15px;
}


/* Clues table */

.table-clues tr {
    height: 80px;
    font-size: 15px;
}

.table-clues th {
    width: 20%
}

.table-clues td {
    width: 30%
}


/* */


/* Choice Cards */

.card-choice {
    cursor: pointer;
}

.card-choice button {
    white-space: normal;
}

.card-choice-disabled button {
    cursor: default;
    white-space: normal;
}

.well-thumbnail {
    width: 250px;
    height: 200px;
    background-color: #ffffff;
}

.overlay {
    display: block;
    position: absolute;
    z-index: 20;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-left: 15px;
    margin-right: 15px;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    text-align: center;
    font-size: 28px;
    color: white;
}

.overlay-correct {
    background-color: #4caf50;
}

.overlay-wrong {
    background-color: #e51c23;
}

.hover .overlay {
    cursor: default;
    -webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
    height: 20%;
}


/* */

.btn-flat {
    box-shadow: none;
}

.btn-flat:active {
    box-shadow: none;
}

.btn-flat.disabled,
.btn-flat[disabled],
fieldset[disabled] .btn-flat {
    cursor: default;
    opacity: 1;
}

.btn-link {
    font-weight: bold;
}

.btn-reset:focus,
.btn-reset:active {
    outline: none !important;
}


/* leaderboard */

@media screen and (max-width: 480px) {
    h1 {
        font-size: 34px;
    }
}

.no-animate {
    -webkit-transition: none !important;
    transition: none !important;
}
